{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="text-center mb-2">
        <h1>About Us</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 align-items-center">
            <p>
                Welcome to our platform! Here, you can unleash your culinary creativity by adding your unique recipes and sharing them with your friends and colleagues. 
                This application is designed to inspire and enhance your cooking skills, helping you build a personal collection of delightful dishes.
            </p>
            <p>
                By sharing your recipes, you not only showcase your talent but also inspire others to explore new ideas in the kitchen. 
                Let's create a vibrant community of food enthusiasts together!
            </p>
        </div>
    </div>
    <div class="text-center mt-5">
        <h3>Why Choose Us?</h3>
        <ul class="list-unstyled mt-3">
            <li>📌 Create and manage your personalized recipe collection.</li>
            <li>📌 Share your culinary creations with friends and family.</li>
            <li>📌 Connect with a community of like-minded food enthusiasts.</li>
            <li>📌 Enhance your creativity and cooking skills.</li>
        </ul>
    </div>
</div>
{% endblock %}
