{% extends 'base.html' %}

{% block title %}Connect Others{% endblock %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/style7.css' %}">

<div class="container">
    <h1 class="text-center mb-4">Make Connection</h1>
    <div class="row">
        {% for info in Informations%}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                   
                    {% if info.profile_image %}
                        <img src="{{ info.profile_image.url }}" class="rounded-circle" width="100" height="100" alt="Profile Image">
                    {% else %}
                            <div class="profile-initials connect-initials rounded-circle d-flex justify-content-center align-items-center">
                            {{ info.First_Name|first|upper }}
                        </div>
                    {% endif %}

                    
                    <h5 class="card-title mt-3"><a href="{% url 'public_profile' info.user.id %}">{{ info.First_Name }} {{ info.Last_Name }}</a></h5>
                    <p class="card-text text-muted">@{{ info.User_Name }}</p>
                    <p class="card-text">{{ info.Email }}</p>

                    
                    {% if user in info.followers.all %}
                    <button class="btn btn-following follow-button" data-url="{% url 'toggle_follow' %}" data-user-id="{{ info.user.id }}">Following</button>
                    {% else %}
                    <button class="btn btn-primary follow-button" data-url="{% url 'toggle_follow' %}" data-user-id="{{ info.user.id }}">Follow</button>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<form class="d-none">{% csrf_token %}</form>
<script src="{% static 'js/connect.js' %}"></script>


{% endblock %}