{% extends "base.html"%}

{% block title %}Forget_password{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style5.css' %}">

<div class="containes">
    <form class="col-6 max-auto card p-3 shadow-lg mt-5 transparent-form" method="post">
        {% csrf_token %}
        <h1>Forget Paaword</h1>
        {% if messages %}
        <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="email" class="form-control" pattern="[a-zA-Z0-9._%+-]+@(gmail\.com|yahoo\.com)" title="Email must be in the format username@gmail.com or username@yahoo.com" required>
        </div>

        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <div class="fled">
              <input id="new_password" name="new_password" type="password" class="form-control" minlength="8" title="Password must be at least 8 characters long" required>
              <i class="fa fa-eye toggle-password" onclick="togglePasswordVisibility()"></i>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <div class="fled">
              <input id="confirm_password" name="confirm_password" type="password" class="form-control" minlength="8" title="Password must be at least 8 characters long" required>
              <i class="fa fa-eye toggle1-password" onclick="togglePasswordVisibilityc()"></i>
            </div>
           
        </div>
        <button type="submit" class="btn btn-success">Change</button>

    </form>
</div>  
<script src="{% static 'js/forget.js' %}"></script>

{% endblock %}