{% extends "base.html"%}

{% block title %}Forget_password{% endblock %}
{% block content %}

<style>
    .containes{
      height: 93vh;
      width: 100%;
      background-color: rgba(201,75,70,0.2);
      margin: 0;
      overflow-y: hidden;
      
    }
    .transparent-form {
      margin:0 auto;
      width:35%;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .toggle-password {
      position: absolute;
      right: 10px;
      top:40%;
      cursor: pointer;
    }
    .toggle1-password{
      position: absolute;
      right: 10px;
      top:50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .fled{
      position: relative;
      width:100%;
    }
  </style>

<div class="containes">
    <form class="col-6 max-auto card p-3 shadow-lg mt-5 transparent-form" method="post">
        {% csrf_token %}
        <h1>Forget Paaword</h1>
        {% if messages %}
        <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="email" class="form-control" pattern="[a-zA-Z0-9._%+-]+@(gmail\.com|yahoo\.com)" title="Email must be in the format username@gmail.com or username@yahoo.com" required>
        </div>

        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <div class="fled">
              <input id="new_password" name="new_password" type="password" class="form-control" minlength="8" title="Password must be at least 8 characters long" required>
              <i class="fa fa-eye toggle-password" onclick="togglePasswordVisibility()"></i>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <div class="fled">
              <input id="confirm_password" name="confirm_password" type="password" class="form-control" minlength="8" title="Password must be at least 8 characters long" required>
              <i class="fa fa-eye toggle1-password" onclick="togglePasswordVisibilityc()"></i>
            </div>
           
        </div>
        <button type="submit" class="btn btn-success">Change</button>

    </form>
</div>  
<script>
  function togglePasswordVisibility() {
      var newPassword = document.getElementById('new_password');
      var eyeIcons = document.querySelectorAll('.toggle-password');

      if (newPassword.type === 'password') {
          newPassword.type = 'text';
          eyeIcons.forEach(icon => icon.classList.replace('fa-eye', 'fa-eye-slash'));
      } else {
          newPassword.type = 'password';
          eyeIcons.forEach(icon => icon.classList.replace('fa-eye-slash', 'fa-eye'));
      }
  }
  function togglePasswordVisibilityc() {
    var confirmPassword = document.getElementById('confirm_password');
    var eyeIcons = document.querySelectorAll('.toggle1-password');
    

    if (confirmPassword.type === 'password') {
        confirmPassword.type = 'text';
        eyeIcons.forEach(icon => icon.classList.replace('fa-eye', 'fa-eye-slash'));
    } else {
        confirmPassword.type = 'password';
        eyeIcons.forEach(icon => icon.classList.replace('fa-eye-slash', 'fa-eye'));
    }
}


</script>

{% endblock %}