{% extends "base.html" %}

{% block title %}Login{% endblock %}
 {% block content %}
 <title>Login Page</title>
<style>
  .containerx{
    height: 93vh;
    width: 100%;
    background-image: url("https://t4.ftcdn.net/jpg/03/57/34/39/360_F_357343965_u58BFcRrziBVMqgt6liwPHJKcIjHsPnc.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    overflow-y: hidden;
    
  }
  .transparent-form {
    margin:0 auto;
    width:35%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  .toggleu-password{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .fled {
    position: relative;
    width: 100%;
  }
</style>
<div class="containerx">
    <form class="col-6 max-auto card p-3 shadow-lg mt-5 transparent-form" method="post">
        {% csrf_token %}
        <h1>Login Page</h1>
        {% if messages %}
        <div class="alert alert-primary" role="alert">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name="username"  type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="fled">
            <input id="password" name="password" type="password" class="form-control">
            <i class="fa fa-eye toggleu-password" onclick="togglePasswordVasibility()"></i>
          </div>  

        </div>
        <p>Don't have an Account<a href="/register/" > Register</a></p>
        <p><a href="/forget/" > Forget Password</a></p>
        <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-users"></i> Login</button>
    </form>
  </div>
  <script>
    function togglePasswordVasibility() {
        var uPassword = document.getElementById('password');
        var eyeIcons = document.querySelectorAll('.toggleu-password');
  
        if (uPassword.type === 'password') {
            uPassword.type = 'text';
            eyeIcons.forEach(icon => icon.classList.replace('fa-eye', 'fa-eye-slash'));
        } else {
            uPassword.type = 'password';
            eyeIcons.forEach(icon => icon.classList.replace('fa-eye-slash', 'fa-eye'));
        }
    }
  
  </script>

{% endblock %}