{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">

<div class="containery">
    <form class="log" method="post">
        {% csrf_token %}
        <h1>Create Account</h1>
        {% if messages %}
        <div class="alert alert-primary" role="alert">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
        </div>
        {% endif %}
        
        <div class="mb-3 input-group">
            <label for="first_name" class="form-label">First Name</label>
            <input name="first_name" required type="text" class="form-control" pattern="[A-Za-z]+" title="First Name should be in letters">
            <i class="fa-solid fa-user input-icon"></i>
        </div>
        
        <div class="mb-3 input-group">
            <label for="last_name" class="form-label">Last Name</label>
            <input name="last_name" required type="text" class="form-control">
            <i class="fa-solid fa-user input-icon"></i>
        </div>
        
        <div class="mb-3 input-group">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input name="email" required type="email" class="form-control" pattern="[a-zA-Z0-9._%+-]+@(gmail\.com|yahoo\.com)" title="Email in valid format and only from gmail or yahoo">
            <i class="fa-solid fa-envelope input-icon"></i>
        </div>
        
        <div class="mb-3 input-group">
            <label for="username" class="form-label">Username</label>
            <input name="username" required type="text" class="form-control">
            <i class="fa-solid fa-at input-icon"></i>
        </div>
        
        <div class="mb-3 input-group">
            <label for="password" class="form-label">Password</label>
            <input name="password" required type="password" class="form-control" minlength="8" title="Password should be at least 8 characters">
            <i class="fa-solid fa-lock input-icon"></i>
        </div>
        
        <p>Already have an account? <a href="/login">Login</a></p>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{% endblock %}