{% extends "base.html" %}

{% block title %} Update {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style8.css' %}">

<div class="containeru">
    <form class="col-6 max-auto card p-3 shadow-lg mt-2 transparent-form " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>UPDATE RECEPIES</h1>
        {% include 'includes/recipe_form_fields.html' with recipe=recepies %}
        <button type="submit" class="btn btn-primary">Update Recepies</button>
      </form>
</div>



{% endblock %}